{% extends 'base.html.twig' %}

{% block title %}PropertyOption index{% endblock %}

{% block body %}
    <h1>PropertyOption index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for property_option in property_options %}
            <tr>
                <td>{{ property_option.id }}</td>
                <td>{{ property_option.name }}</td>
                <td>
                    <a href="{{ path('admin.property.option.show', {'id': property_option.id}) }}">show</a>
                    <a href="{{ path('admin.property.option.edit', {'id': property_option.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin.property.option.new') }}">Create new</a>
{% endblock %}
